.about {
  margin-bottom: 145px;

  @media (max-width: $vp-max-tablet) {
    margin-bottom: 94px;
  }

  @media (max-width: $vp-max-mobile) {
    margin-bottom: 85px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  @media (max-width: $vp-max-tablet) {
    grid-gap: 30px;
  }

  @media (max-width: $vp-max-mobile) {
    grid-template-columns: 1fr;
  }
}

.about__content {
  padding-top: 56px;
  padding-right: 25px;

  @media (max-width: $vp-max-tablet) {
    padding: 0;
  }

  h2 {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    @media (max-width: $vp-max-tablet) {
      margin-right: 26px;
      margin-bottom: 16px;
      font-size: 26px;
      line-height: 36px;
    }

    @media (max-width: $vp-max-mobile) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  p {
    margin: 0;
  }
}

.about__image {
  @media (max-width: $vp-max-tablet) {
    padding-top: 10px;
  }

  @media (max-width: $vp-max-mobile) {
    padding-top: 13px;
  }
}

