.hero__container {
  position: relative;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: $vp-max-tablet) {
    filter: none;
  }
}

.hero__image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: $color-sail;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero__content {
  padding: 270px 0 278px 95px;

  @media (max-width: $vp-max-tablet) {
    padding: 267px 0 276px;
  }

  @media (max-width: $vp-max-mobile) {
    padding: 175px 0 178px;
  }

  h2,
  p {
    color: $color-alice-blue;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;

    @media (max-width: $vp-max-tablet) {
      font-size: 50px;
      line-height: 61px;
    }

    @media (max-width: $vp-max-mobile) {
      font-size: 36px;
      line-height: 125%;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: $vp-max-tablet) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: $vp-max-mobile) {
      font-size: 16px;
      line-height: 140%;
    }
  }
}
