// Colors

// Default
$color-tangaroa:                    #011c40;
$color-alice-blue:                  #f9fbfd;

// Project palette
$color-turquoise:                   #36e8e8;
$color-sail:                        #9fc5e8;
$color-madang:                      #b6d7a8;
$color-quartz:                      #d8d8d9;
$color-invalid:                     #d00f0f;
$color-valid:                       #13b313;

// Typography
$fz-default:                        16px;
$ff-montserrat:                  "Montserrat", "Arial", sans-serif;

// Animation
$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports
$vp-max-mobile:                     767px;
$vp-max-tablet:                     1023px;
$vp-max-desktop:                    1279px;
$vp-max-widescreen:                 1439px;
$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
